.slider {
    width: 100%;
    height: auto;
    max-width: 1156px;
    margin: 40px auto 0;
}

.slider__wrapper {
    width: 980px; /* 320px × 3 */
    max-width: 100%;
    overflow: hidden;
}

.slider__track {
    width: 980px;
    margin: 0 auto;
    transition: transform 0.4s ease;
}

.card {
    width: 300px;
    height: 388px;
    flex-shrink: 0;
    margin-right: 40px;
    padding: 40px 16px;
    background: #dbf7f9;
    font-size: 2rem;
}

.avatar__wrapper {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
}

.avatar-01,
.avatar-02,
.avatar-03,
.avatar-04,
.avatar-05,
.avatar-06 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    transform: scale(1.3) translateX(-10%) translateY(8%); /* アップ倍率、画像トリミング位置調整 */
}

.avatar-02 {
    transform: scale(1.5) translateX(4%) translateY(13%); /* アップ倍率、画像トリミング位置調整 */
}

.avatar-03 {
    transform: scale(1.6) translateX(-6%) translateY(10%); /* アップ倍率、画像トリミング位置調整 */
}

.avatar-04 {
    transform: scale(1.4) translateX(0%) translateY(10%); /* アップ倍率、画像トリミング位置調整 */
}

.avatar-05 {
    transform: scale(1) translateX(0%) translateY(0%); /* アップ倍率、画像トリミング位置調整 */
}

.avatar-06 {
    transform: scale(1.5) translateX(0%) translateY(8%); /* アップ倍率、画像トリミング位置調整 */
}

.card p {
    font-size: var(--font-size-base);
}

.prev {
    margin: auto auto auto 0;
    color: #fff;
    width: 48px;
    height: 48px;
    background-color: #00afbf;
    font-size: 24px;
    border-radius: 50%;
}

.next {
    margin: auto 0 auto auto;
    color: #fff;
    width: 48px;
    height: 48px;
    background-color: #00afbf;
    font-size: 24px;
    border-radius: 50%;
}

/* == スライド下ドット == */
.slider__dots {
    gap: 0.5rem;
    gap: 0.5rem;
    margin-top: 1.5rem;
    width: 100%;
}

.slider__dot {
    width: 10px;
    height: 10px;
    background-color: #eee;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.slider__dot.active {
    background-color: #00afbf;
}

/* レスポンシブ対応（1枚表示）
@media (max-width: 768px) {
    .slider__wrapper {
        width: 320px;
    }

    .card {
        width: 320px;
        margin: 0;
    }
} */
