.slider {
    width: 1500px;
    gap: 1rem;
    max-width: 100%;
    margin: 0 auto;
    background-color: pink;

    .slider__wrapper {
        width: 960px; /* 320px × 3 */
        max-width: 100%;
        overflow: hidden;

        .slider__track {
            width: fit-content;
            margin: 0 auto;
            background-color: black;
            transition: transform 0.4s ease;

            .card {
                width: 320px;
                height: 400px;
                flex-shrink: 0;
                margin: 0 8px;
                background: #dbf7f9;
                font-size: 2rem;
                border-radius: 10px;

                img {
                    width: 100px;
                    height: auto;
                }

                p {
                    font-size: var(--font-size-base);
                }
            }
        }
    }
}

/* レスポンシブ対応（1枚表示）
@media (max-width: 768px) {
    .slider__wrapper {
        width: 320px;
    }

    .card {
        width: 320px;
        margin: 0;
    }
} */
