.slider {
    width: 100%;
    max-width: 72.25rem;
    height: auto;
    margin: 2.125rem auto 0;
}

.slider__wrapper {
    width: 61.25rem; /* 320px × 3 */
    max-width: clamp(20rem, 77.07vw, 72.25rem); /* 1500pxで1156pxになる可変幅 */
    overflow: hidden;
}

.slider__track {
    width: 100%;
    margin: 0 auto;
    transition: transform 0.8s ease;
}

.card {
    flex-shrink: 0;
    width: calc((100% - 5rem) / 3); /* カード3枚 + margin-right: 40px × 2 */
    height: 24.25rem;
    padding: clamp(1.5rem, 2.667vw, 2.5rem) clamp(0.625rem, 1.067vw, 1rem);
    margin-right: 2.5rem;
    font-size: 2rem;
    background: #dbf7f9;
}

.avatar__wrapper {
    width: clamp(3.75rem, 6.67vw, 6.25rem);
    height: clamp(3.75rem, 6.67vw, 6.25rem);
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
}

.avatar-01,
.avatar-02,
.avatar-03,
.avatar-04,
.avatar-05,
.avatar-06 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    transform: scale(1.4) translateX(-10%) translateY(9%); /* アップ倍率、画像トリミング位置調整 */
}

.avatar-02 {
    transform: scale(1.5) translateX(4%) translateY(13%); /* アップ倍率、画像トリミング位置調整 */
}

.avatar-03 {
    transform: scale(1.6) translateX(-6%) translateY(10%); /* アップ倍率、画像トリミング位置調整 */
}

.avatar-04 {
    transform: scale(1.4) translateX(0%) translateY(10%); /* アップ倍率、画像トリミング位置調整 */
}

.avatar-05 {
    transform: scale(1) translateX(0%) translateY(0%); /* アップ倍率、画像トリミング位置調整 */
}

.avatar-06 {
    transform: scale(1.5) translateX(0%) translateY(8%); /* アップ倍率、画像トリミング位置調整 */
}

.card p {
    font-size: var(--font-size-base);
}

.card p:last-child {
    margin-top: var(--spacing-sm);
    line-height: 1.75;
}

.prev {
    width: 3rem;
    height: 3rem;
    margin: 10.3125rem auto auto 0;
    font-size: 1.5rem;
    color: #fff;
    background-color: #00afbf;
    border-radius: 50%;
    transition: opacity 0.3s ease;
}

.next {
    width: 3rem;
    height: 3rem;
    margin: 10.3125rem 0 auto auto;
    font-size: 1.5rem;
    color: #fff;
    background-color: #00afbf;
    border-radius: 50%;
    transition: opacity 0.3s ease;
}

.prev:hover,
.next:hover {
    opacity: 0.6;
}

/* == スライド下ドット == */
.slider__dots {
    gap: 0.5rem;
    width: 100%;
    margin-top: 1.5rem;
}

.slider__dot {
    width: 0.625rem;
    height: 0.625rem;
    appearance: none; /* Safari対策 */
    cursor: pointer;
    background-color: #eee;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.slider__dot.active {
    background-color: #00afbf;
}

/* レスポンシブ対応（1枚表示） */
@media (width <= 47.9375rem) {
    /* ブレイクポイント767px */
    .slider {
        margin-top: 1.75rem;
    }

    .slider__wrapper {
        max-width: 17.5rem;
    }

    .card {
        width: 17.5rem;
        height: 21.5rem;
        padding: 1.75rem 0.9375rem;
        margin-right: 0;
    }

    .slider__track {
        width: auto;
    }

    .card p {
        margin-top: 0.3125rem;
    }

    .card p:last-child {
        line-height: 2;
    }

    .prev {
        width: 2rem;
        height: 2rem;
        margin-top: 9.6875rem;
        margin-right: 0.4375rem;
        font-size: 1.125rem;
        line-height: 1.9;
    }

    .next {
        width: 2rem;
        height: 2rem;
        margin-top: 9.6875rem;
        margin-left: 0.4375rem;
        font-size: 1.125rem;
        line-height: 1.9;
    }

    .avatar__wrapper {
        width: 5rem;
        height: 5rem;
    }

    .slider__dots {
        gap: 0.4rem;
        margin-top: 1rem;
    }
}
