.slider {
    width: 100%;
    height: auto;
    max-width: 1156px;
    margin: 40px auto 0;
}

.slider__wrapper {
    width: 980px; /* 320px × 3 */
    max-width: 100%;
    overflow: hidden;
}

.slider__track {
    width: 980px;
    margin: 0 auto;
    transition: transform 0.4s ease;
}

.card {
    width: 300px;
    height: 388px;
    flex-shrink: 0;
    margin-right: 40px;
    padding: 40px 16px;
    background: #dbf7f9;
    font-size: 2rem;
}

.card img {
    width: 100px;
    height: auto;
    margin: 0 auto;
}

.card p {
    font-size: var(--font-size-base);
}

.prev {
    margin: auto auto auto 0;
    color: #fff;
    width: 48px;
    height: 48px;
    background-color: #00afbf;
    font-size: 24px;
    border-radius: 50%;
}

.next {
    margin: auto 0 auto auto;
    color: #fff;
    width: 48px;
    height: 48px;
    background-color: #00afbf;
    font-size: 24px;
    border-radius: 50%;
}

/* レスポンシブ対応（1枚表示）
@media (max-width: 768px) {
    .slider__wrapper {
        width: 320px;
    }

    .card {
        width: 320px;
        margin: 0;
    }
} */
