//=== カスタム変数 ===
:root {
    // === 色 ===
    --main-color: #005bac;
    --accent-color: #f2a541;
    --text-color: #333;
    --bg-color: #fff;

    // === フォント ===
    --font-base: ; /* 本文フォントファミリ */
    --font-heading: ; /* 見出しフォントファミリ（別指定の場合） */
    --font-size-base: ; /* 本文サイズ（例：1rem） */
    --font-size-sm: ; /* 小さめ文字（補足やボタンなど） */
    --font-size-lg: ; /* 見出しなど大きめ文字 */
    --font-weight-normal: ; /* 通常のウェイト（400など） */
    --font-weight-bold: ; /* 太字ウェイト（700など） */

    // === 余白・サイズ ===
    --spacing-xs: 0.5rem; /* 8px ,小さなpaddingや隙間 */
    --spacing-sm: 1rem; /* 16px ,基本のmargin・padding */
    --spacing-base: 1.5rem; /* 24px ,標準の段落間・要素間 */
    --spacing-lg: 2rem; /* 32px ,セクション内の余白 */
    --spacing-xl: 3rem; /* 48px ,セクションの外側、上下の区切り */

    --header-height: 6.3125rem; //PC表示のヘッダーの高さ(101px)
    --sp-hedder-height: 4.375rem; //スマホ表示のヘッダーの高さ(70px)
    --footer-height: 6.5rem; //PC表示のフッターの高さ(104px)
    --sp-footer-height: 10.3125rem; //SP表示のフッターの高さ(165px)

    // === ブレイクポイント ===
    --breakpoint-sp: 47.9375rem; //スマホ用のブレイクポイント(767px)
}
