:root {
    --main-color: #005bac;
    --accent-color: #f2a541;
    --text-color: #000;
    --bg-color: #fff;
    --font-jp: 'Noto Serif JP', serif;
    --font-en: 'EB Garamond', serif;
    --font-logo: 'Marcellus', serif;
    --font-size-sm: 15px;
    --font-size-base: 16px;
    --font-size-lg: 24px;
    --font-size-xl: 45px;
    --font-weight-normal: 400;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --spacing-xs: 0.5rem;
    --spacing-sm: 1rem;
    --spacing-base: 1.5rem;
    --spacing-lg: 2rem;
    --spacing-xl: 3rem;
    --header-height: 6.3125rem;
    --sp-hedder-height: 4.375rem;
    --footer-height: 6.5rem;
    --sp-footer-height: 10.3125rem;
    --breakpoint-sp: 47.9375rem;
}
