//=== リセットcss ===
@import 'reset.scss';

//カスタム変数の読み込み
@import '../variables.scss';

//ユーティリティクラスの読み込み
@import '../_utility.scss';

//componentの読み込み

//sass変数
$check-bg: green;
$check-bg2: pink;
$check-sction-bg: gray;
$check-sction-bg2: orange;

// === 共通スタイル ===
html,
body {
    font-family: var(--font-base);
    color: var(main-color);
    line-height: 1.6;
    height: 100%;
    min-height: 100vh;
}

// === ヘッダー ===
/* === PC表示（リキッド対応） === */
.header {
    position: relative;
    z-index: 10;
    width: 100%;
    height: auto;
    background-color: $check-sction-bg;

    // === 内部ラッパー（最大幅＋リキッド） ===
    &__inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        .logo {
            min-width: 8.75rem;
            text-decoration: none;
        }
    }
}

// === メインコンテンツ ===
.main {
    position: relative;
    background-color: white;
    width: 100vw;
    padding: 0 auto;

    &__wrapper {
        width: 100%;
        max-width: 75rem; //最大幅1200px
        margin: 720px auto 0;
        background-color: $check-bg2;
    }
    // === heroセクション ===
    .hero {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: $check-sction-bg;

        img {
            width: 100%;
            height: auto;
        }
    }
    // === prセクション ===
    .pr {
        background-color: $check-sction-bg2;
    }
    // === aboutセクション ===
    .about {
        background-color: $check-sction-bg;
    }
    // === voicesセクション ===
    .voices {
        background-color: $check-sction-bg2;
    }
    // === faqセクション ===
    .faq {
        background-color: $check-sction-bg;
    }
}
// === フッター ===
.footer {
    background-color: gray;
    width: 100%;
    height: var(--footer-height);
    padding: 2rem 0;
    background-color: #0071ce;
    color: #fff;

    .footer__info {
        padding: 0.5rem;
        gap: var(--spacing-lg);
    }

    .footer__text {
        padding: 0.5rem;
    }

    &__inner {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }
}

// ============================= ここからスマホ表示 =============================
@media screen and (max-width: 767px) {
}
