/* === 外部cssの読み込み === */
@import url('/assets/style/reset.css');/* === リセットcss === */
@import url('/assets/variables.css');/* === カスタム変数 === */
@import url('./utilities.css');/* === ユーティリティクラス === */

/* === component === */
@import url('/assets/scripts/components/slider/slider.css');
@import url('/assets/scripts/components/accordion/accordion.css');

/* === 共通部分 === */
html,
body {
    height: 100%;
    min-height: 100vh;
    font-family: var(--font-jp);
    font-weight: var(--font-weight-normal);
    line-height: 1.6;
    color: var(--text-color);
}

/* === PC表示（リキッド対応） === */
.header {
    position: relative;
    z-index: 10;
    width: 100%;
    height: auto;
}

.header__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: var(--spacing-lg);
}

.header__inner .logo {
    min-width: 8.75rem;
    text-decoration: none;
}

.main {
    width: 100%;
    height: auto;
}
.main .hero {
    position: relative;
    width: 100%;
    height: 714px;
    max-width: 1500px;
    background-image: url('/assets/image/mainVisual.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main .hero__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 1200px;
    transform: translate(-50%, -50%);
}

.main .hero .hero__text {
    width: 50%;
    max-width: 364px;
}

.main .hero .hero__text h2 {
    font-size: 50px;
    font-weight: var(--font-weight-normal);
    letter-spacing: 0.3em;
    line-height: 1.4;
}

.main .hero .hero__text p {
    font-size: 25px;
    letter-spacing: 0.3em;
}

.main .hero .hero__empty {
    width: 58%;
}

.pr__inner {
    width: 100%;
    max-width: 1000px;
    height: auto;
    padding: 44px 48px;
    margin: var(--spacing-xl) auto;
    background-color: #f0f4ff;
}

.pr__inner h3 {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-semibold);
    color: #111;
    letter-spacing: 0.08em;
    margin-right: 64px;
}

.pr__inner p {
    font-size: var(--font-size-base);
    color: #111;
    letter-spacing: 0.08em;
}


.pr__inner .pr__btn {
    min-width: clamp(8rem, 20vw, 300px); /* 128px～300px */
    max-height: 58px;
    padding: clamp(0.625rem, 2vw, 1rem) clamp(1.25rem, 5vw, 2.5625rem); /* 上下:10〜16px, 左右:20〜41px */
    margin: 0;
    font-size: clamp(0.8rem, 1.5vw, 18px); /* 最小16px～最大18px */
    font-weight: var(--font-weight-semibold);
    color: #fff;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
    background-color: #46c4db;
    border: none;
    border-radius: 2em; /* ここは好みに応じて固定でも可 */
    transition: opacity 0.3s ease;
}

.pr__inner .pr__btn:last-child {
    background-color: #5dd5ab;
    margin-left: 32px;
}

.pr__inner .nav__btn:hover {
    opacity: 0.6; /* ホバー時の透明度 */
}

.about {
    position: relative;
    width: 100%;
    height: 550px;
    padding:127px 0;
    background-color: gray;
    background-image: url('/assets/image/about.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.about__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 1200px;
    transform: translate(-50%, -50%);
}

.about__inner .about__empty {
    width: 49%;
}

.about__inner .about__text {
    width: 51%;
    max-width: 429px;
    color: #fff;
}

.about__inner .about__text h2 {
    font-size: 38px;
    font-weight: var(--font-weight-bold);
}

.about__inner .about__text h3 {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-semibold);
}

.about__inner .about__text p {
    margin-top: 18px;
    font-size: 14px;
    line-height: 2.2857;
}

.voices {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 80px;
}

.voices h2 {
    font-size: 45px;
    font-weight: var(--font-weight-bold);
    letter-spacing: 0.05em;
    padding: 0;
    line-height: 1.2;
}

.voices h3 {
    font-size: 20px;
    font-weight: var(--font-weight-semibold);
    line-height: 2.4;
}

.voices .voices__slide {
    width: 100%;
    max-width: 1200px;
    height: auto;
    background-color: orange;
}

.faq {
    width: 100%;
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    background: linear-gradient(to right, #f4ffe8, #c6f0fe);
}

.faq h2 {
    font-size: 45px;
    font-weight: var(--font-weight-bold);
    line-height: 1.2;
}

.faq h3 {
    font-size: 20px;
    font-weight: var(--font-weight-semibold);
    line-height: 2.3;
}

.faq .faq__inner {
    width: 100%;
    height: auto;
    max-width: 600px;
    min-height: 500px;
    margin: 35px auto 0;
}

.pr-second .pr__inner{
    margin-bottom: 0;
}

.scroolbutton {
    width: 40px;
    height: 40px;
    padding: 12px 13px;
    margin-left: 87.3%;
    color: #fff;
    background-color: #0071ce;
}

.footer {
    width: 100%;
    height: var(--footer-height);
    padding: 2rem 0;
    color: #fff;
    background-color: #0071ce;
}

.footer .footer__info {
    gap: var(--spacing-lg);
    padding: 0.5rem;
    font-size: 14px;
    margin-left: 75px;
}

.footer .footer__text {
    padding: 0.5rem;
    font-size: 12px;
    line-height: 2.5;
}

.footer__inner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;
    line-height: 2;
}
