//=== リセットcss ===
@import 'reset.scss';

//カスタム変数の読み込み
@import '../variables.scss';

//ユーティリティクラスの読み込み
@import '../_utility.scss';

//componentの読み込み
@import '' //sass変数
    $check-bg: green;
$check-bg2: pink;

// === 共通スタイル ===
html,
body {
    font-family: var(--font-base);
    color: var(main-color);
    line-height: 1.6;
    height: 100%;
    min-height: 100vh;
}

// === セクションごと ===

// === ヘッダー ===

/* === PC表示（リキッド対応） === */
.header {
    position: relative;
    z-index: 10;
    width: 100%;
    height: auto;

    // === 内部ラッパー（最大幅＋リキッド） ===
    &__inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        max-width: clamp(20rem, 90vw, 75rem); // 最小320px〜最大1200px
        margin: 0 auto;

        .logo {
            min-width: 8.75rem;
            text-decoration: none;
        }
    }
}

// === メインコンテンツ ===
.main {
    padding-top: var(--header-height);
    background-color: $check-bg;
    width: 100vw;
    height: auto;

    &__wrapper {
        margin: 0 auto;
        width: 100%;
        max-width: 75rem; //最大幅1200px
        background-color: $check-bg2;
    }

    .hero {
        position: relative;
        z-index: 1;
    }
}
// === フッター ===
footer {
    background-color: gray;
}

// ============================= ここからスマホ表示 =============================
@media screen and (max-width: 767px) {
}
