/* === 外部cssの読み込み === */
@import url('/assets/style/reset.css');/* === リセットcss === */
@import url('/assets/variables.css');/* === カスタム変数 === */
@import url('./utilities.css');/* === ユーティリティクラス === */

/* === component === */
@import url('/assets/scripts/components/slider/slider.css');
@import url('/assets/scripts/components/accordion/accordion.css');

/* === 共通部分 === */
html,
body {
    height: 100%;
    min-height: 100vh;
    font-family: var(--font-jp);
    font-weight: var(--font-weight-normal);
    line-height: 1.6;
    color: var(--text-color);
}

/* === PC表示（リキッド対応） === */
/* === ヘッダー === */
.header {
    position: relative;
    z-index: 10;
    width: 100%;
    height: auto;
}

.header__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: var(--spacing-lg);
}

.header__inner .logo {
    min-width: 8.75rem;
    text-decoration: none;
}

/* === メインコンテンツ === */
.main {
    width: 100%;
    height: auto;
}

/* === heroセクション === */
.hero {
    position: relative;
    width: 100vw;
    height: clamp(400px, 47.6vw, 714px);
    background-image: url('/assets/image/mainVisual.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 1200px;
    transform: translate(-50%, -50%);
}

.hero__text {
    width: 50%;
    max-width: 364px;
}

.hero__text h2 {
    font-size: 50px;
    font-weight: var(--font-weight-normal);
    letter-spacing: 0.3em;
    line-height: 1.4;
}

.hero__text p {
    font-size: 25px;
    letter-spacing: 0.3em;
}

.hero__empty {
    width: 58%;
}

/* === prセクション === */
.pr__inner {
    width: 100%;
    max-width: 1000px;
    height: auto;
    padding: 44px 48px;
    margin: var(--spacing-xl) auto;
    background-color: #f0f4ff;
}

.pr__inner h3 {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-semibold);
    color: #111;
    letter-spacing: 0.08em;
    margin-right: 64px;
}

.pr__inner p {
    font-size: var(--font-size-base);
    color: #111;
    letter-spacing: 0.08em;
}


.pr__btn {
    min-width: clamp(8rem, 20vw, 300px); /* 128px～300px */
    max-height: 58px;
    padding: clamp(0.625rem, 2vw, 1rem) clamp(1.25rem, 5vw, 2.5625rem); /* 上下:10〜16px, 左右:20〜41px */
    margin: 0;
    font-size: clamp(0.8rem, 1.5vw, 18px); /* 最小16px～最大18px */
    font-weight: var(--font-weight-semibold);
    color: #fff;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
    background-color: #46c4db;
    border: none;
    border-radius: 2em; /* ここは好みに応じて固定でも可 */
    transition:background-color 0.3s ease,border 0.1s ease;
}

.pr__btn:last-child {
    background-color: #5dd5ab;
    margin-left: 32px;
}

.pr__btn:hover{
    background-color: #fff;
    color: #46c4db;
    border:3px solid #46c4db;
}

.pr__btn:last-child:hover{
    background-color: #fff;
    color: #5dd5ab;
    border:3px solid  #5dd5ab;
}

/* === aboutセクション === */
.about {
    position: relative;
    width: 100vw;
    height: clamp(300px, 36.67vw, 550px);
    padding:127px 0;
    background-color: gray;
    background-image: url('/assets/image/about.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.about__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 1200px;
    transform: translate(-50%, -50%);
}

.about__empty {
    width: 49%;
}

.about__text {
    width: 51%;
    max-width: 429px;
    color: #fff;
}

.about__text h2 {
    font-size: clamp(24px, 2.533vw, 38px); /* 1500pxで38pxになる */
    font-weight: var(--font-weight-bold);
}

.about__text h3 {
    font-size: var(--font-size-lg); /* すでに可変ならそのままでOK */
    font-weight: var(--font-weight-semibold);
}

.about__text p {
    margin-top: 18px;
    font-size: clamp(12px, 0.933vw, 14px); /* 1500pxで14pxになる */
    line-height: 2.2857;
}

/* === voicesセクション === */
.voices {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 80px;
}

.voices h2 {
    font-size: 45px;
    font-weight: var(--font-weight-bold);
    letter-spacing: 0.05em;
    padding: 0;
    line-height: 1.2;
}

.voices h3 {
    font-size: 20px;
    font-weight: var(--font-weight-semibold);
    letter-spacing: 0.06em;
    line-height: 2.4;
}

.voices__slide {
    width: 100%;
    max-width: 1200px;
    height: auto;
    background-color: orange;
}

/* === faqセクション === */
.faq {
    width: 100vw;
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    background: linear-gradient(to right, #f4ffe8, #c6f0fe);
}

.faq h2 {
    font-size: 45px;
    font-weight: var(--font-weight-bold);
    line-height: 1.2;
}

.faq h3 {
    font-size: 20px;
    font-weight: var(--font-weight-semibold);
    line-height: 2.3;
}

.faq__inner {
    width: 100%;
    height: auto;
    max-width: 600px;
    min-height: 500px;
    margin: 35px auto 0;
}

/* === prセクション2 === */
.pr-second .pr__inner{
    margin-bottom: 0;
}

.scroolbutton {
    width: 40px;
    height: 40px;
    padding: 12px 13px;
    margin-left: 87.3%;
    color: #fff;
    background-color: #0071ce;
    transition: opacity 0.3s ease;
}

.scroolbutton:hover {
    opacity: 60%;
}

/* === footer === */
.footer {
    width: 100%;
    height: var(--footer-height);
    padding: 2rem 0;
    color: #fff;
    background-color: #0071ce;
}

.footer a{
    width: clamp(120px, 12.733vw, 191px);
}

.footer .logo{
    vertical-align: middle;
}

.footer__info {
    gap: var(--spacing-lg);
    padding: 0.5rem;
    font-size: clamp(12px, 0.933vw, 14px); /* 可変で14pxまで */
    margin-left: clamp(32px, 5vw, 75px);
}

.footer__text {
    padding: 0.5rem;
    font-size: clamp(10px, 0.8vw, 12px);   /* 可変で12pxまで */
    line-height: 2.5;
}

.footer__inner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;
    line-height: 2;
}

/* === スマホ表示 === */
@media screen and (max-width: 767px) {
:root{
    /* === フォントサイズ === */
    --font-size-base: 0.875rem;       /* 標準の本文サイズ 14px */
    --font-size-lg: 1.125rem;         /* 中見出しなどに使用 18px*/

        /* === スペーシング（余白） === */
        --spacing-lg: 1.5rem;           /* 24px：セクション内余白 */
        --spacing-xl: 3.125rem;           /* 50px：セクション外側や区切り */

        --sp-hedder-height: 4.375rem;     /* スマホヘッダーの高さ（約70px） */
        --sp-footer-height: 10.3125rem;   /* スマホフッターの高さ（約165px）*/
}

/* === ヘッダー === */
.header__inner .logo {
    max-width:143px ;
}

/* === heroセクション === */
.hero{
    background-image: url('/assets/image/mainVisual_sp.jpg');
    max-width:390px;
    height: 450px;
    margin-bottom:107px ;
}

.hero__inner{
    top: 108%;
    left:56%;
}

.hero__text h2{
    font-size: 41px;
    line-height: 1.2;
}

.hero__text p{
    font-size: 20px;
    white-space: nowrap;
    margin-top: 10px;
}

/* === prセクション === */
.pr__inner{
    top: 50%;
    padding: 20px 29px 34px;
    margin-left: 16px;
    margin-right: 16px;
    transform: translate(0, 0);
}

.pr__inner h3 {
    margin-right: 0;
}


.pr__btn:last-child{
    margin-left: 0;
}

.pr__btn {
    padding: clamp(0.625rem, 4.1vw, 1rem) clamp(1.25rem, 15.4vw, 2.5625rem);
    max-width: 300px;
    font-size: 18px;
    margin-top: 20px;
}


/* === aboutセクション === */
.about{
    background-image: url('/assets/image/about_sp.jpg');
    height: 680px;
}

.about__inner{
    top: 48px;
    left:0;
    max-width: 390px;
    transform: translate(0, 0);
}

.about__text {
    width: 100%;
    max-width: 358px;
}

.about__text h2 {
    white-space: nowrap;
    font-size: 30px;
}

.about__text h3{
    font-size: 24px;
}

.about__text p {
    margin-top: 14px;
}

/* === voicesセクション === */
.voices {
    width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.voices h2 {
    font-size: 30px;
}

.voices h3 {
    font-size: 16px;
}

.voices__slide{
    max-width: 390px;
}

/* === faqセクション === */
.faq {
    padding: 32px 16px;
}


.faq h2{
    font-size: 30px;
}

.faq h3{
    font-size: 16px;
    margin-top: 10px;
    line-height: 1.3;
}


/* === prセクション2 === */
.scroolbutton {
    width: 40px;
    height: 40px;
    padding: 12px 13px;
    margin-top: 10px;
    margin-left: 87.3%;
    font-size: 18px;
    color: #fff;
    background-color: #0071ce;
}

/* === footer === */
    .footer{
    height: var(--sp-footer-height);
    padding: 24px 16px;
    }

    .logo{
        width: 166px;
        margin: 0 auto;
    }
    .footer__info{
        width: 300px;
        margin-top: 18px;
        margin-left: 0;
        font-size: 12px;
        gap:22px;
        padding: 0;
    }

    .footer__inner{
        max-width: 358px;
    }

    .footer__inner .footer__text{
        font-size: 11px;
        margin-top: 10px;
        padding-left: 35px;
    }
}
