.accordion {
    background: linear-gradient(to right, #e9f8f3, #e2f1f9);
    padding: 24px 25px; 
    margin-bottom: 24px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.accordion:last-child{
    margin-bottom: 0;
}

.accordion__btn {
    background: none;
    border: none;
    width: 100%;
    text-align: left;
    font-size: 1rem;
    cursor: pointer;
    padding: 0;
}

.accordion__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
}

.accordion.open .accordion__content {
    max-height: 200px; /* 十分に大きめにしておくと中身に応じて見える */
}

.question span{
    font-size:18px;
}

.question p{
    font-size:var(--font-size-sm);
}

.accordion.open .accordion__content span{
    margin-top: 22px;
    font-size: 18px;
}
.accordion.open .accordion__content p{
    margin-top: 22px;
    line-height: 1.7;
    font-size:var(--font-size-sm);
}

.icon{
    transition: transform 0.3s ease;
}

.triangle__up {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid black; /* ←三角形の色 */
    margin: auto 0;
    border-radius: 8px;
}

.accordion.open .icon {
    transform: rotate(180deg);
}

