.accordion {
    background: linear-gradient(to right, #e9f8f3, #e2f1f9);
    padding: 1rem;
    margin: 1rem auto;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: var(--font-jp);
}

.accordion-btn {
    background: none;
    border: none;
    width: 100%;
    text-align: left;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 0;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
}

.accordion.open .accordion-content {
    max-height: 500px; /* 十分に大きめにしておくと中身に応じて見える */
}

.icon {
    transition: transform 0.3s ease;
}

.accordion.open .icon {
    transform: rotate(180deg);
}

